<title><%= route %></title>
<link href="/css/notes/notePage.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<body>
    <script src="/scripts/notes/<%= route %>.js"></script>
    <script src="/scripts/notePage.js"></script>
</body>
