<title>notes</title>
<link href="/css/notes/notesHome.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<body>
    <div class="center-div">
        <% for(var i=0; i<data.length; i++) {%>
            <a href="notes/<%= data[i] %>"><%= data[i] %></a>
        <% } %>
    </div>
</body>


