<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/shop/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/shop/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
</head>
<body>
    <div class="master-container">
        <div class="modal-container">

            <div class="master-cart-container">

                <!-- GENERATED FROM JS, DOESNT NEED EJS -->
                <div class="cart-container">
                    <div class="cart-container-image-container"><img src="/shop/products/item XXXXX/1.png" alt="item XXXXX.png"></div>
                    <div class="cart-container-title">
                        <div class="cart-container-title-header">
                            <div>item XXXXX</div>
                        </div>
                        <div class="cart-container-title-footer">
                            <div>descriptionSmall</div><div>$10.00</div>
                        </div>
                    </div>
                    <div class="cart-container-footer">x</div>
                </div>
                <!-- ---------------------------------- -->

            </div>

            <div class="checkout-container">

                <div class="subtotal-container">
                    <div class="">Subtotal</div>
                    <div class="">$35.00</div>
                </div>
                <div class="info-container">Shipping, taxes, and discount codes calculated at checkout.</div>
                <div class="checkout-btn">Check out</div>

            </div>

            <div class="exit-btn"><div class="fas fa-times-circle"></div></div>

        </div>
        <nav class="navbar">
            <div class="nav-child1 logo">
                <!-- <img class="logo" src="/shop/media/mlk.png" alt="mlk"> -->
                <h2>City Point Exotics</h2>
            </div>
            <div class="nav-child2">
                <div class="cart-btn"><div class="fas fa-shopping-cart"></div></div>
                <div class="about-btn"><a href="#social">about</a></div>
                <div class="shop-btn"><a href="#shop-products">shop</a></div>
            </div>
            <div class="nav-child3"><img class="logo" src="/shop/media/leaf.svg" alt="fist"></div>
        </nav>
        <div class="advertisement-container">
            <img src="/shop/media/flower1.jpg" alt="">
        </div>
        <div class="social-container" id="social"><h1><%= index %></h1> </div>
    </div>
    <% for(var i=0; i<Object.keys(storeData).length; i++) {%>
        <div id="<%= Object.keys(storeData)[i] %>" class="item"></div>
    <% } %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts/shopHome.js"></script>
</body>