<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#327242" />
    <title><%= storeData[index].name %></title>
    
    <!-- Header css -->
    <link rel="stylesheet" href="/css/shop/header.css">
    <!-- Content css -->
    <link rel="stylesheet" href="/css/shop/shopTemplate.css">
    <!-- About css -->
    <link rel="stylesheet" href="/css/shop/about.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="master-container" class="master-container">

        <script>const masterContainer = document.getElementById("master-container");</script>

        <!-- Header component -->
        <script src="/scripts/shopScripts/components/Header.js"></script>

        <!-- Content -->
        <div class="content">content</div>
        <!-- Content -->

        <!-- About component -->
        <script src="/scripts/shopScripts/components/About.js"></script>

    </div>
    <!-- Header js -->
    <script src="/scripts/shopScripts/shopHeader.js"></script>
    <!-- Content js -->
    <!-- <script src="/scripts/shopScripts/shopContent.js"></script> -->
</body>