* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightcoral;
}

.master-container {
    min-height: 200vh;
    max-width: 100vw;
}

.container1 {
    height: 100vh;
    width: 100%;
    background-color: rgba(45, 117, 134, 0.527);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.photo-container {
    height: 500px;
    width: 2000px;
    background-color: rgba(52, 134, 45, 0.527);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 100px;
    /* transition: 0.4s; */
}

.photo {
    height: 200px;
    width: 200px;
    background-color: lightcyan;
    transition: 0.4s;
}

.photo:hover {
    cursor: pointer;
    height: 250px;
    width: 250px;
}

.photo:nth-of-type(odd) {
    height: 300px;
}

.photo:nth-of-type(odd):hover {
    height: 350px;
}