<head>
    <title><%= route %></title>
    <link href="/css/notes/notePage.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="#3d3d3d" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
    <script src="/scripts/notes/<%= route %>.js"></script>
    <script src="/scripts/notePage.js"></script>
</body>
