@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #999;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5b5b5b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #6b6b6b;
}

::-webkit-scrollbar-corner {
background: #999;
}

.hide-scroll {
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.master-container {
    display: flex;
    flex-direction: column;
}

.modal-container {
    position: fixed;
    z-index: 10;
    right: 0px;
    width: 40vw;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    transform: translateX(40vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transition {
    transition: all .25s;
}

.visable {
    transform: translateX(0) !important;
}

.master-cart-container {
    position: relative;
    width: 100%;
    margin-top: 10vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
}

/* width */
.master-cart-container::-webkit-scrollbar {
    width: 9.5px;
    height: 9.5px;
}

/* Track */
.master-cart-container::-webkit-scrollbar-track {
    background: #999;
    border-radius: 5px;
}

/* Handle */
.master-cart-container::-webkit-scrollbar-thumb {
    background: #5b5b5b;
    border-radius: 5px;
}

/* Handle on hover */
.master-cart-container::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b;
}

.master-cart-container::-webkit-scrollbar-corner {
    background: #999;
    border-radius: 5px;
    margin-top: 20px;
}

.cart-container {
    height: 10vw;
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.cart-container-image-container {
    width: 30%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-container-image-container img {
    max-width: 100%;
    max-height: 100%;
}

.cart-container-title {
    height: 50%;
    width: 50%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cart-container-title-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.cart-container-title-header div {
    width: auto;
    font-size: 1.5vw;
}

.cart-container-title-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-container-title-footer div {
    font-size: 1.2vw;
}

.cart-container-footer {
    height: 50%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.cart-container-footer div:hover {
    color: rgba(255, 0, 0, 0.75);
    cursor: pointer;
}

.checkout-container {
    position: relative;
    height: 30vh;
    min-height: 100px;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.subtotal-container {
    height: 7.5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.subtotal-container div {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: large;
}

.subtotal-container div:first-of-type {
    justify-content: flex-start;
}

.subtotal-container div:last-of-type {
    justify-content: flex-end;
}

.info-container {
    height: 7.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: small;
    color: slategrey;
}

.checkout-btn {
    height: 10vh;
    width: 100%;
    margin: 2.5vh 0;
    border-radius: 5vh;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: larger;
}

.checkout-btn:hover {
    background-color: rgba(46, 139, 86, 0.75);
}

.exit-btn {
    position: absolute;
    cursor: pointer;
    top: 3vh;
    right: 2.5vw;
    font-size: 4vh;
}

.exit-btn:hover {
    color: rgba(255, 0, 0, 0.75);
}

.navbar {
    height: 100px;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    background-color: rgb(255, 255, 255);
    font-size: large;
}

.shop-btn a:hover {
    font-weight: bold;
}

.about-btn a:hover {
    font-weight: bold;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.nav-child1 {
    height: 80px;
    width: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;

}

.nav-child1:hover {
    cursor: pointer;
}

.nav-child2 {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav-child2 div {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-child2 div:first-of-type {
    margin: 0;
}

.nav-child2 div:hover {
    cursor: pointer;
}

.nav-child3 {
    width: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: 20px;
}

.nav-child3:hover {
    cursor: pointer;
}

.nav-child3 img path:hover {
    fill: rgba(46, 139, 86, 0.75);
}

.nav-child3 img {
    height: 100%;
}

.advertisement-container {
    width: 100%;
}

.advertisement-container img {
    width: 100%;
}

.shop-products {
    width: 100%;
    margin-bottom: 50px;
}

.shop-products h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.shop-products-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 20px 10vw 20px 10vw;
}

.testtest {
    display: flex;
    flex-direction: row;
}

.images-container {
    height: 25vw;
    width: 5vw;
}

.images-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.images-container div:hover {
    cursor: pointer;
}

.img {
    display: flex;
    height: 5vw;
}

.img img {
    max-height: 100%;
    max-width: 100%;
}

.selected {
    box-shadow: 1px 1px 10px 1px hsla(0, 0%, 50%, 0.3);
}

.item-container {
    position: relative;
    height: 25vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2.5vw;
    margin-right: calc(2.5vw - 10px);
}

.item-container-image-container {
    height: 80%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item-container-image-container img {
    max-height: 100%;
    max-width: 100%;
}

.sold-out {
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    padding: 7.5px;
    color: white;
    font-weight: bold;
    background-color: black;
}

.item-container-footer {
    height: 20%;
    width: 100%;
    display: flex;
    font-size: large;
    justify-content: center;
    align-items: center;
}

.large-description {
    height: 25vw;
    width: 30vw;
    display: flex;
    align-items: center;
    margin-right: 2.5vw;
    overflow-y: auto;
}

/* width */
.large-description::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
.large-description::-webkit-scrollbar-track {
    background: #999;
    border-radius: 5px;
}

/* Handle */
.large-description::-webkit-scrollbar-thumb {
    background: #5b5b5b;
    border-radius: 5px;
}

/* Handle on hover */
.large-description::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b;
}

.large-description::-webkit-scrollbar-corner {
    background: #999;
    border-radius: 5px;
    margin-top: 20px;
}

.large-description div {
    padding: 0 10px;
    max-height: 25vw;
}

.testtest2 {
    display: none;
}

.final {
    height: 25vw;
    width: 17.5vw;
    display: flex;
    flex-direction: column;
}

.final div {
    
}

.color-container {
    flex: 1;
}

.size-container {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
}

.size-container div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(17.5vw / 5);
}

.qauntity-container {
    flex: 1;
}

.add-btn {
    padding: 1vw 0;
    width: 100%;
    border-radius: 5vh;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: larger;
}

.add-btn:hover {
    background-color: rgba(46, 139, 86, 0.75);
}

.second-large-description {
    display: none;
}

.social-container {
    width: 100%;
    min-height: 600px;
    background-color: rgba(119, 135, 160, 0.514);
}

@media screen and (max-height:600px) {

    .cart-container-image-container {
        height: 60px;
    }

    .exit-btn {
        top: 18px;
        right: 2.5vw;
        font-size: 24px;
    }
}

@media screen and (max-height:400px) {

    .subtotal-container {
        height: 30px;
    }
    
    .info-container {
        height: 30px;
    }
    
    .checkout-btn {
        height: 40px;
        width: 100%;
        margin: 10px 0;
        border-radius: 20px;
    }
}

@media screen and (max-width:1000px) {

    .add-btn {
        padding: 10px 0;
    }

    .cart-container-footer {
        font-size: 2vw;
    }

    .sold-out {
        padding: .45vw;
    }
}

@media screen and (max-width:800px) {

    
    .checkout-container {
        width: 240px;
    }

    .shop-products h1 {
        margin-top: 30px;
        font-size: 1.75em;
    }
    
    .navbar {
        height: 75px;
        padding: 10px 20px;
    }

    .nav-child1 {
        height: 55px;
        font-size: medium;
    }

    .nav-child2 div:first-of-type {
        margin: 0;
    }

    .nav-child3 {
        width: 0;
        display: none;
    }
    
    .shop-products {
        margin-bottom: 25px;
    }

    .sold-out {
        padding: .55vw;
        font-size: small;
    }

    .shop-products-container {
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        padding: 20px 5vw 20px 5vw;
    }

    .images-container {
        height: 30vw;
        min-width: 6vw;
    }
    
    .images-container div {
        height: 6vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .img {
        display: flex;
        height: 6vw;
        width: 6vw;
    }
    
    .item-container {
        height: 30vw;;
        max-height: 30vw;
        width: 25vw;
    }

    .cart-container-title-header div {
        font-size: 12px;
    }
    
    .cart-container-title-footer div {
        font-size: 9.6px;
    }

    .modal-container {
        width: 320px;
        transform: translateX(320px);
    }

    .cart-container {
        height: 80px;
        width: 240px;
    }

    .cart-container-footer {
        font-size: 15.5px;
    }

    .large-description {
        height: 30vw;
        width: 32vw;
    }
    
    .large-description div {
        padding: 0 10px;
        max-height: 30vw;
    }
    
    .final {
        height: 30vw;
        width: 19.5vw;
    }

    .add-btn {
        padding: 10px 0;
    }
}

/* -------------------------------------------------------- */

@media screen and (max-width:650px) {

    .shop-products h1 {
        display: none;
    }
    
    .shop-products-container {
        flex-direction: column;
        padding-top: 5vw;
    }
    
    .testtest {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .images-container {
        display: flex;
        height: auto;
        width: 50vw;
    }
    
    .images-container div {
        height: 10vw;
        width: 50vw;
    }

    .item-container {
        max-height: max-content;
        height: 50vw;
        width: 50vw;
        margin: 0 0 5vw 0;
        padding: 0;
    }
    
    .item-container-image-container {
        height: 100%;
    }

    .sold-out {
        padding: 1vw;
        font-size: large;
    }
    
    .item-container-footer {
        display: none;
    }
    
    .large-description {
        display: none;
    }
    
    .testtest2 {
        margin: 5vw 0;
        width: 50vw;
        display: flex;
        flex-direction: column;
    }

    .testtest2 div {
        font-size: large;
    }
    
    .testtest2 div:first-of-type{
        font-weight: bold;
    }
    
    .final {
        height: auto;
        margin-bottom: 5vw;
        width: 50vw;
    }

    .add-btn-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .add-btn {
        width: 36vw;
        padding: 10px 0;
    }
    
    .second-large-description {
        display: flex;
        width: 50vw;
    }
}

@media screen and (max-width:525px) {

    .nav-child1 {
        font-size: small;
    }

    .nav-child2 div:nth-of-type(2) {
        display: none;
    }

    .images-container {
        height: 13vw;
        width: 65vw;
    }
    
    .images-container div {
        height: 13vw;
    }
    
    .img {
        width: 13vw;
    }
    
    .item-container {
        height: 65vw;
        width: 65vw;
    }

    .sold-out {
        padding: 1.5vw;
    }

    .testtest2 {
        margin: 5vw 0;
        width: 65vw;
    }

    .testtest2 div {
        font-size: x-large;
    }

    .testtest2 div:first-of-type {
        margin-bottom: 1vw;
    }

    .final {
        width: 65vw;
    }

    .add-btn {
        padding: 10px 0;
        width: 43vw;
    }

    .second-large-description {
        width: 65vw;
    }
}

@media screen and (max-width:400px) {

    .nav-child1 {
        font-size: x-small ;
    }

    .shop-products-container {
        padding-top: 7.5vw;
    }

    .images-container {
        height: 16vw;
        width: 80vw;
    }
    
    .images-container div {
        height: 16vw;
    }
    
    .img {
        width: 16vw;
    }
    
    .item-container {
        height: 80vw;
        width: 80vw;
    }

    .sold-out {
        padding: 1.2vw;
    }

    .testtest2 {
        margin: 5vw 0;
        width: 80vw;
    }

    .final {
        width: 80vw;
    }

    .add-btn {
        padding: 10px 0;
        width: 50vw;
    }

    .second-large-description {
        width: 80vw;
    }
}