@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #999;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5b5b5b;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b;
  }
  
  ::-webkit-scrollbar-corner {
    background: #999;
  }

.hide-scroll {
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.master-container {
    display: flex;
    flex-direction: column;
}

.modal-container {
    position: fixed;
    z-index: 10;
    right: 0px;
    width: 40vw;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    transition: all .3s;
    transform: translateX(40vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visable {
    transform: translateX(0) !important;
}

.master-cart-container {
    position: relative;
    width: 100%;
    margin-top: 10vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
}

.cart-container {
    height: 10vw;
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.cart-container-image-container {
    background-color: rgba(119, 135, 160, 0.514);
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-container-image-container img {
    width: 100%;
}

.cart-container-title {
    height: 50%;
    width: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cart-container-title-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.cart-container-title-header div {
    width: auto;
    font-size: 1.5vw;
}

.cart-container-title-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-container-title-footer div {
    font-size: 1.2vw;
}

.cart-container-footer {
    height: 50%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-container {
    position: relative;
    height: 30vh;
    min-height: 100px;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.subtotal-container {
    height: 7.5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.subtotal-container div {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: large;
}

.subtotal-container div:first-of-type {
    justify-content: flex-start;
}

.subtotal-container div:last-of-type {
    justify-content: flex-end;
}

.info-container {
    height: 7.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: small;
    color: slategrey;
}

.checkout-btn {
    height: 10vh;
    width: 100%;
    margin: 2.5vh 0;
    border-radius: 5vh;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: larger;
}

.checkout-btn:hover {
    background-color: rgba(46, 139, 86, 0.75);
}

.exit-btn {
    position: absolute;
    cursor: pointer;
    top: 3vh;
    right: 2.5vw;
    font-size: 4vh;
}

.exit-btn:hover {
    color: rgba(255, 0, 0, 0.75);
}

.navbar {
    height: 100px;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    background-color: rgb(255, 255, 255);
    font-size: large;
}

.shop-btn a:hover {
    font-weight: bold;
}

.about-btn a:hover {
    font-weight: bold;
}

.nav-child1 {
    height: 80px;
    width: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

.nav-child1:hover {
    cursor: pointer;
}

.nav-child2 {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav-child2 div {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-child2 div:first-of-type {
    margin: 0;
}

.nav-child2 div:hover {
    cursor: pointer;
}

.nav-child3 {
    width: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: 20px;
}

.nav-child3:hover {
    cursor: pointer;
}

.nav-child3 img path:hover {
    fill: rgba(46, 139, 86, 0.75);
}

.nav-child3 img {
    height: 100%;
}

.advertisement-container {
    width: 100%;
}

.advertisement-container img {
    width: 100%;
}

.shop-products {
    width: 100%;
    margin-bottom: 100px;
}

.shop-products h1 {
    text-align: center;
    margin: 50px 0;
}

.shop-products-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3vw;
    padding: 20px 9vw 40px 9vw;
}

.item-container {
    height: 25vw;
    flex-direction: column;
    cursor: pointer;
}

.item-container:hover {
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
}

.item-container-image-container {
    height: 80%;
    display: flex;
    align-items: center;
}

.item-container-image-container img {
    width: 100%;
}

.item-container-title {
    height: 12.5%;
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: center;
}

.item-container-footer {
    height: 7.5%;
    display: flex;
    font-size: small;
    justify-content: center;
    align-items: center;
}

.social-container {
    width: 100%;
    min-height: 600px;
    background-color: rgba(119, 135, 160, 0.514);
}

@media screen and (max-height:600px) {

    .exit-btn {
        top: 18px;
        right: 2.5vw;
        font-size: 24px;
    }
}

@media screen and (max-height:400px) {

    .subtotal-container {
        height: 30px;
    }
    
    .info-container {
        height: 30px;
    }
    
    .checkout-btn {
        height: 40px;
        width: 100%;
        margin: 10px 0;
        border-radius: 20px;
    }
}

@media screen and (max-width:800px) {
    .cart-container-title-header div {
        font-size: 12px;
    }
    
    .cart-container-title-footer div {
        font-size: 9.6px;
    }
}

@media screen and (max-width:800px) {

    .modal-container {
        width: 320px;
        transform: translateX(320px);
    }

    .cart-container {
        height: 80px;
        width: 240px;
    }

    .checkout-container {
        width: 240px;
    }
}

@media screen and (max-width:775px) {
    
    .navbar {
        height: 75px;
        padding: 10px 20px;
    }

    .nav-child1 {
        height: 55px;
        font-size: medium;
    }

    .nav-child2 div:first-of-type {
        margin: 0;
    }

    .nav-child3 {
        width: 0;
        /* visibility: hidden; */
        display: none;
    }

    .advertisement-container {
        margin-bottom: 25px;
    }
    
    .shop-products {
        margin-bottom: 25px;
    }
    
    .shop-products h1 {
        text-align: center;
        margin-bottom: 25px;
    }

    .shop-products-container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3vw;
        padding: 10px 9vw 50px 9vw;
        
    }

    .item-container {
        height: 38vw;
    }
}

@media screen and (max-width:600px) {
    .shop-products-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-container {
        height: 50vw;
    }
    
    .item-container-footer {
        font-size: smaller ;
    }
}

@media screen and (max-width:500px) {

    .nav-child1 {
        font-size: small;
    }

    .nav-child2 div:nth-of-type(2) {
        display: none;
    }
}

@media screen and (max-width:400px) {

    .nav-child1 {
        font-size: x-small ;
    }

    .item-container-title {
        font-size: smaller;
    }
    
    .item-container-footer {
        font-size: x-small;
    }